<widget id="A6933802641560" version="0.0.1">

    <name>live</name>

    <description>

        Example For APICloud.

    </description>

    <author email="developer@apicloud.com" href="http://www.apicloud.com">

        Developer

    </author>

    <content src="root.html"/>

    <access origin="*"/>

    <preference name="customRefreshHeader" value="UIPullRefreshDrop"/>

    <preference name="pageBounce" value="false"/>

    <preference name="appBackground" value="rgba(0,0,0,0)"/>

    <preference name="windowBackground" value="rgba(0,0,0,0)"/>

    <preference name="frameBackgroundColor" value="rgba(0,0,0,0)"/>

    <preference name="hScrollBarEnabled" value="false"/>

    <preference name="vScrollBarEnabled" value="false"/>

    <preference name="autoLaunch" value="true"/>

    <preference name="fullScreen" value="false"/>

    <preference name="autoUpdate" value="true"/>

    <preference name="smartUpdate" value="false"/>

    <preference name="debug" value="true"/>

    <preference name="statusBarAppearance" value="true"/>

    <permission name="readPhoneState"/>

    <permission name="camera"/>

    <permission name="record"/>

    <permission name="location"/>

    <permission name="fileSystem"/>

    <permission name="internet"/>

    <permission name="bootCompleted"/>

    <permission name="hardware"/>
    <!-- 融云通讯 -->
    <feature name="rongCloud2">
        <param name="appKey" value="3argexb63q13e"/>
    </feature>
    <!-- 融云通讯 -->
    <intent-filter>
        <action name="android.intent.action.VIEW"/>
        <category name="android.intent.category.DEFAULT"/>
        <data scheme="rong" host="io.rong.fast" pathPrefix="/conversation/"/>
    </intent-filter>
    <intent-filter>
        <action name="android.intent.action.VIEW"/>
        <category name="android.intent.category.DEFAULT"/>
        <data host="com.w752042094.mcg" path="/conversationlist" scheme="rong"/>
    </intent-filter>
    <intent-filter>
        <action name="android.intent.action.VIEW"/>
        <category name="android.intent.category.DEFAULT"/>
        <data host="com.w752042094.mcg" pathPrefix="/push_message" scheme="rong"/>
    </intent-filter>
</widget>
